# env
BASE_URL= /

# DATABASE

DB_ADAPTER=sqlsrv
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8

# MAIL

MAIL_DRIVER=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_SECURITY=
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
